*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
}

.landing-container{
    margin-left: 100px;
    position: relative;
}

.landing-icon{
    margin-top: 33px;
}

.landing-main{
    display: flex;
    justify-content: space-between;
    background-color: #0E2368;
}

.landing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 345px;
}

.landing-title{
    font-size: 62px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0E2368;
    line-height: 69px;
    margin-top: 111px;
}

.landing-red{
    color: #E23744;
}

.landing-subtitle{
    font-size: 16.44px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 27.41px;
    margin-top: 26px;
}

.landing-button{
    max-width: 190px;
    max-height: 63px;

    font-size: 18px;
    font-weight: 700;
    font-family: 'Oper Sans', sans-serif;

    background-color: #E23744;
    color: white;

    border: none;
    border-radius: 34px;
    padding: 34px;
    margin-top: 41px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.landing-pizza{
    width: 705px;
    height: 804px;
    position: absolute;
    top: 1px;
    right: 0;
}

.landing-vector{
    width: 722px;
    height: 839px;
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;
}

.about-container{
    height: 467px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);

    margin-top: 371px;
}

.about-image{
    width: 384px;
    height: 468px;

    margin-left: 205px;
}

.about-content{
    margin-left: 200px;
    max-width: 447px;
}

.about-title{
    height: 26px;

    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins';
    line-height: 27px;

    margin-top: 107px;
    color: #0E2368;
}

.about-description{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 27px;
    color: #444957;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.about-button{
    background-color: #E23744;
    color: white;
    padding: 3px 26px;
    border: none;
    border-radius: 21px;
    line-height: 36px;
    cursor: pointer;
}

.card-container:nth-child(1){
    margin-left: 108px;
}

.card-container:nth-child(3){
    margin-right: 108px;
}

.card-container:nth-child(4),.card-container:nth-child(5),.card-container:nth-child(6){
    display: none;
}

.latest-title{
    margin-left: 108px;
    margin-top: 158px;
    
    font-size: 56px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;

    color: #0E2368;
    line-height: 42px;
    letter-spacing: 0.04em;
}

.card-container{
    width: 381px;
    height: 554px;

    border: 1.37039px solid rgba(147, 162, 211, 0.38);
    border-radius: 20.937px;
}

.card-image{
    width: 326px;
    height: 257px;
    margin: 27px;
}

.card-title{
    margin-left: 43.17px;
    
    font-size: 21px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

    line-height: 27px;
    color: #0E2368;
}

.card-description{
    margin-left: 43.17px;
    margin-right: 42.83px;
    margin-top: 14px;

    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

    line-height: 27px;
    letter-spacing: -0.02em;
    color: #444957;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-button{
    margin-left: 43.17px;
    padding:  10px 26px ;

    font-size: 16.4447px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;

    background-color: white;
    border: #424961 1px solid;
    border-radius: 25px;
    cursor: pointer;
}

.cards-list{
    margin-top: 69px;
    display: flex;
    flex-wrap: nowrap;
    gap: 41px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.num{
    width: 30px;
    height: 28px;
    margin: 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}

.left,.right {
    width: 9px;
    height: 9px;
    transition: .5s;
    box-shadow: -2px 2px 0 #AFAFAF;
}
  
.left {
    transform: rotate(45deg);
}

.right {
    transform: rotate(-135deg);
}

.btn-left,.btn-right{
    width: 28px;
    height: 28px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}